TELEGRAM_TOKEN=8992056210:AAEW5uYQt_DHXtozZgUzqCX9X1ZBf-0f9iY
TELEGRAM_CHAT_ID=8884883763

# Optional overrides
# JOB_RSS_URL=https://remotive.com/remote-jobs/rss?category=software-dev
# JOB_KEYWORDS=sde 2,software engineer,full stack engineer, software engineer 2
